body {
  font-family: Arial, sans-serif;
  background: #226963;
}

.form-container {
  width: 400px;
  margin: 50px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
  text-align: center;
  line-height: 30px;
}

.step.active {
  background: #4CAF50;
  color: white;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
}
